<div class="row">
  <div class="col-xs-12">
    <img
      [src]="actor.imagePath"
      alt="{{ actor.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ actor.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-sm-3">
<button (click)="onEditActor()" class=" btn btn-primary">Edit</button>
    </div>
    <div class="col-sm-3">
      <button (click)="onDeleteActor()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
