<div class="row">
  <div class="col-xs-12">
    <h1>{{actor.name}}</h1>
    <img
      [src]="actor.imagePath"
      onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg'"
      alt="{{ actor.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<hr>
<p>{{actor.description}}</p>
<hr>
<button (click)="onEditActor()" class=" btn btn-primary">Edit</button>
<button (click)="onDeleteActor()" class="btn btn-danger">Delete</button>



