<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ actor.name }}</h4>
  </div>
  <span class="pull-right">
        <img
          [src]="actor.imagePath"
          onerror="this.src='https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg'"
          alt="{{ actor.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
