<div class="row">
  <div class="col-xs-12">
    <h1>{{character.name}}</h1>
    <img
      [src]="character.imagePath"
      alt="image not found"
      class="img-responsive img-rounded"
      style="max-height: 300px;">
    <p>{{character.description}}</p>

  </div>
</div>



<div class="row">
  <div class="col-xs-12">
    <a
      style="cursor: pointer;"
      class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Played by:</h4>
        <p> {{character.actors[0].name}}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="character.actors[0].imagePath"
          alt="{{ character.name }}"
          class="img-responsive img-rounded"
          style="max-height: 75px;">
      </span>
    </a>
  </div>

    <div class="col-xs-12">

    </div>


</div>


